:root {
	--accent: #4eccbd;
	--accent-dark: #008a67;
	--black: #232a29;
	--gray: #7b828c;
	--gray-light: #a3a5ae;
	--gray-dark: #4a4f55;
	--gray-gradient: #f7fafc, #e2e8f0;

  --display-font: 'SpecialElite-Regular', monospace;
  --paragraph-font: 'AveriaLibre-Regular', serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--test: black;
		
		}
}
@font-face {
  font-family: "Anonymous Pro";
  src: url("/fonts/AnonymousPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SyneMono-Regular";
  src: url("/fonts/SyneMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpecialElite-Regular";
  src: url("/fonts/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AveriaLibre-Regular";
  src: url("/fonts/AveriaLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
